@model IEnumerable<Post>


@{
    ViewBag.Title = "Blog Home";
    ViewBag.Description = "Blog Website has everything you need from the ground up";
    ViewBag.Keywords = "Blog Programming Photography";
}

    <span class="title">
    Amazing Blog Site
    </span>
<div>

    @foreach (var post in Model)
    {
        var image_path = $"/Image/{post.Image}";
    <div class="col-md-8 offset-md-2 pb-2">
        <a class="card" style="width: 50rem;" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <img src="@image_path" />
            <span class="title">@post.Title</span>
        </a>
    </div>
    }
</div>

